.form-container {
    max-width: 400px;
    margin: 60px auto;
    padding: 30px 25px;
    border-radius: 12px;
    /* filter: drop-shadow(1px 1px 5px #435340ef); */
    background-color: #e1e7ebd1;
    font-family: 'Segoe UI', sans-serif;
}



h2 {
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
    color: #080808;
}

p {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 15px;
    color: #444;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border 0.2s ease;
}

input:focus {
    border-color: #ff000d;
    outline: none;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #14ee60;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #10dd1e;
}

.login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.login-link a {
    color: #007bff;
}

/* Estilo para errores */

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.back-ling {
    display: block;
    margin-bottom: 1rem;
    font-size: 14px;
    color: #6c2bd9;
    text-decoration: none;
}